In [1]:
import pandas as pd 
listings_df = pd.read_csv("listings.csv")
listings_df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,28925,Grande maison centre ville Comme √† la campagne,124398,Laurence,Bordeaux,Centre ville (Bordeaux),44.850240,-0.592090,Entire home/apt,234,2,2,2017-09-10,0.05,1,144
1,218103,B&B Apart.Suite / tropical garden,1127981,Luis,Bgles,Bgles,44.815450,-0.548080,Entire home/apt,110,2,45,2013-07-05,0.40,4,123
2,222887,"Bordeaux Terrace - spectacular view, fast Wifi",1156398,Suzanna,Bordeaux,Bordeaux Sud,44.836110,-0.566400,Entire home/apt,202,3,43,2019-11-11,0.72,4,197
3,317273,"Bordeaux City Gardens - large 1 bd, park adjacent",1156398,Suzanna,Bordeaux,Chartrons - Grand Parc - Jardin Public,44.847820,-0.581050,Entire home/apt,145,3,26,2019-12-29,0.47,4,193
4,317658,"Key to Bordeaux - fairytale view, 2 bd + elevator",1156398,Suzanna,Bordeaux,Centre ville (Bordeaux),44.838820,-0.568870,Entire home/apt,202,3,61,2020-01-20,0.77,4,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10611,50874250,appartement 4 pers quartier Chartrons √† Bordeaux,32486742,Sandra,Bordeaux,Chartrons - Grand Parc - Jardin Public,44.853468,-0.579429,Entire home/apt,70,1,0,NaN,NaN,8,332
10612,50874592,appartement plein coeur du centre historique,162782755,Fabien,Bordeaux,Centre ville (Bordeaux),44.839627,-0.570570,Entire home/apt,66,2,0,NaN,NaN,1,355
10613,50880888,loue chambre dans √©choppe avec jardin et tout ...,89306093,Christel,Bgles,Bgles,44.806744,-0.552497,Private room,35,1,0,NaN,NaN,2,364
10614,50885459,üòç Grande Maison au Bouscat proche Bdx centre üòç,409664047,Laure,Le Bouscat,Le Bouscat,44.868034,-0.618562,Entire home/apt,250,7,0,NaN,NaN,1,15
10615,50895580,‚ù§ Loft Industriel tout √©quip√© de 70m2 ‚ù§,176707681,Melanie,Bordeaux,Caudran,44.839456,-0.605685,Entire home/apt,61,3,0,NaN,NaN,1,40

In [2]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [3]:
missing_values_table(listings_df)

Your selected dataframe has 16 columns.
There are 4 columns that have missing values.

                   Missing Values  % of Total Values
last_review                  2084               19.6
reviews_per_month            2084               19.6
host_name                       4                0.0
name                            1                0.0

In [4]:
missing_values_table(listings_df.dropna())

Your selected dataframe has 16 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [5]:
listings_df.dropna().to_csv("clean_listings.csv")

In [6]:
listings_df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [7]:
calendar_df = pd.read_csv("calendar.csv")
calendar_df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,845788,7/8/2021,t,200.0,200.0,1.0,90.0
1,28925,7/9/2021,f,255.0,255.0,2.0,21.0
2,28925,7/10/2021,f,255.0,255.0,2.0,21.0
3,28925,7/11/2021,f,225.0,225.0,2.0,21.0
4,28925,7/12/2021,f,225.0,225.0,2.0,21.0
...,...,...,...,...,...,...,...
1048570,17536412,5/3/2022,t,32.0,32.0,1.0,1125.0
1048571,17536412,5/4/2022,t,32.0,32.0,1.0,1125.0
1048572,17536412,5/5/2022,t,32.0,32.0,1.0,1125.0
1048573,17536412,5/6/2022,t,32.0,32.0,1.0,1125.0
1048574,17536412,5/7/2022,t,32.0,32.0,1.0,1125.0

In [16]:
calendar_df = calendar_df.dropna()
calendar_df["price"] = calendar_df["price"].apply(lambda current_number: int(current_number))
calendar_df["adjusted_price"] = calendar_df["adjusted_price"].apply(lambda current_number: int(current_number))
calendar_df["minimum_nights"] = calendar_df["minimum_nights"].apply(lambda current_number: int(current_number))
calendar_df["maximum_nights"] = calendar_df["maximum_nights"].apply(lambda current_number: int(current_number))

calendar_df.to_csv("clean_calendar.csv", index = False)